<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>CSI Connect</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/stylesheets/styleconnect.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container" style="width: 100%;">
      <a id="logo-container" href="#" class="brand-logo">Connect</a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">CSI Connect</h1>
        <div class="row center">
          <h5 class="header col s12 light">A Website for interaction between students , faculties & club</h5>
        </div>
        <div class="row center">
          <a href="profile" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/images/black.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><a href="logstud"><i class="material-icons">person</i></a></h2>
            <h5 class="center">Students</h5>

            <p class="light">Students who belong to the CSI chapter can access their pages by login in the webiste , they can view the material posted by the faculty or by other club members.A student can himself post on the website </p>
          </div>
        </div>

        

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><a href="logfac"><i class="material-icons">person_outline</i></a></h2>
            <h5 class="center">Faculty </h5>

            <p class="light">Faculty members who are connected with the chapter can login in their profile and post on the website which can be viewed by all the members.Teachers can share any new information they want to sent to the students.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">This website will deal with establishing connection between all the members in a single location .</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/black.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About CSI Connect </h4>
          <p class="left-align light">CSI connect is combine effort of Aman Kumar and Taitiksh Sharma to create a Platform were club members and faculty of the computer society of India can share their stuff and have a proper communication about the events . </p>
        </div>
      </div>

    </div>
  </div>


  
  <footer class="page-footer teal" style="background-image: url(/images/black.jpg);">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About us </h5>
          <p class="grey-text text-lighten-4">This website is a combine effort of Aman Kumar and Taitiksh Sharma of CSE branch , We have build this website for our project of  2 credit course . A lot of effort has been put to create this website . We hope that you have  a good experience using this website . </p>


        </div>
        
        <div class="col l3 s12" >
          <h5 class="white-text">Contact Us </h5>
          <ul >
            <li><a class="white-text"  href="https://www.facebook.com/a4amann"><i class="fa fa-instagram"></i>  Instagram</a></li>
            <li><a class="white-text"  href=""><i class="fa fa-facebook"></i>  Facebook</a></li>
            <li><a  class="white-text" href="https://github.com/a4amann"><i class="fa fa-github"></i>  Github</a></li>
            <li><a  class="white-text" href="https://www.linkedin.com/in/aman-kumar-b0523312a/"><i class="fa fa-linkedin"></i>  LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
    </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/scripts/materialize.js"></script>
  <script src="/scripts/init.js"></script>

  </body>
</html>
