<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>CSI</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

        <!-- Google fonts link-->
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">


        <!--For Plugins external css-->
        <link rel="stylesheet" href="/stylesheets/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="/stylesheets/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="/stylesheets/responsive.css" />

        <script src="/scripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        </head>
    <body data-spy="scroll" data-target=".navbar-collapse">
        
        <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <div class="culmn">
            <header id="main_menu" class="header navbar-fixed-top">            
                <div class="main_menu_bg">
                    <div class="container">
                        <div class="row">
                            <div class="nave_menu">
                                <nav class="navbar navbar-default">
                                    <div class="container-fluid">
                                        
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <a class="navbar-brand" href="#home">
                                               
                                            </a>
                                        </div>

                                       



                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a href="#home">Home</a></li>
                                                <li><a href="#about"> About us</a></li>                                       
                                                <li><a href="#team">Team</a></li>                                        
                                                <li><a href="#contact">Contact</a></li>
                                                <li>
                                            
                                                </li>
                                            </ul>


                                        </div>

                                    </div>
                                </nav>
                            </div>	
                        </div>

                    </div>

                </div>
            </header> <!--End of header -->





            <section id="home" class="home" >
                <div class="overlay all_overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="main_home_slider text-center">
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                            <h4>   CSI</h4>

                                                <h2 style="color: white;">
                                                  <a style="color: white;" href="" class="typewrite" data-period="2000" data-type='[ "Computer Society Of India"]'>
                                                    <span class="wrap"></span>
                                                  </a>
                                                </h2>


                                            





                                            <div class="whiteseparator"></div>
                                            <div class="home_btn">
                                                <a href="https://csivit.com" class="btn btn-primary">LEARN MORE</a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                            <h4>CSI Connect </h4>
                                            <h2 style="color: white;"> A website made for the interaction of students , faculties &  club </h2>
                                            <div class="whiteseparator"></div>

                                            <div class="home_btn">
                                                <a href="connect" class="btn btn-primary">LEARN MORE</a>
                                            </div>

                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section id="about" class="about">
                <div class="container">
                    <div class="row">

                        <div class="main_about_area sections text-center">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="head_title text-center">
                                    <h4 class="subtitle">what we do?</h4>
                                    <h2>Story about us</h2>
                                    <div class="separator"></div>
                                    <p>We are a multi-disciplinary University Chapter with the sole aim of honing technology and pushing it forward. Designers, Developers, Computer Science Enthusiasts, Entrepreneurs and Thinkers working together to build solutions, services, products that make a difference in people's lives. </p>

                                </div>

                                <div class="main_about_content">
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="single_about">
                                            <div class="single_about_img">
                                                <img src="/images/csi1.jpg" alt=""   style="height: 154px ; width:326px;"/>
                                            </div>
                                            <div class="single_about_img_overlay all_overlay">
                                                <a href=""><i class="fa fa-users"></i>
                                                    
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="single_about">
                                            <div class="single_about_img">
                                                <img src="/images/csi2.jpg" alt=""  style="height: 154px ; width:326px;" />
                                            </div>
                                            <div class="single_about_img_overlay all_overlay">
                                                <a href=""><i class="fa fa-users"></i>
                                                    
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="single_about">
                                            <div class="single_about_img">
                                                <img src="/images/csi3.jpg" alt="" style="height: 154px ; width:326px;" />
                                            </div>
                                            <div class="single_about_img_overlay all_overlay">
                                                <a href=""><i class="fa fa-users"></i>
                                                    
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>


            <section id="service" class="service">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="main_service_area sections">
                                <div class="row">
                                    <div class="head_title text-center">
                                        <h4 class="subtitle">Our Subdomains</h4>
                                        <h2>you can join </h2>
                                        <div class="separator"></div>
                                    </div>

                                    <div class="main_service_content">
                                        <div class="col-sm-4">
                                            <div class="single_service">
                                                <div class="single_service_icon">
                                                    <i class="fa fa-pencil"></i>
                                                </div>
                                                <div class="single_service_content">
                                                    <h3>Designing</h3>
                                                    <p>If you know how to design creatively , we are there for you . Our designing team works to design the posters for the club and UI/UX for the web .</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_service">
                                                <div class="single_service_icon">
                                                    <i class="fa fa-laptop"></i>
                                                </div>
                                                <div class="single_service_content">
                                                    <h3>Web Development - Front end </h3>
                                                    <p>All the front end development enthusiasts can join to us to create multiple of "out of the box" websites .         </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_service">
                                                <div class="single_service_icon">
                                                    <i class="fa fa-laptop"></i>
                                                </div>
                                                <div class="single_service_content">
                                                    <h3>Web Development - Back end </h3>
                                                    <p>The backbone of a webiste is the work happening behind it , So if you know the functioning come and help us to create more powerful websites .</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="border_devider"></div>

                                        <div class="col-sm-4">
                                            <div class="single_service">
                                                <div class="single_service_icon">
                                                    <i class="fa fa-user-secret"></i>
                                                </div>
                                                <div class="single_service_content">
                                                    <h3>Management</h3>
                                                    <p>To manage the events in our club we have a dedicated team for it . If you are good at manageing events , then this group is for you </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_service">
                                                <div class="single_service_icon">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                                <div class="single_service_content">
                                                    <h3>Researchers</h3>
                                                    <p>If you have the talent to develop something new and ease the work , you are more than welcome to join our team of researchers to enhance the older algorithms and form new and better ones.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_service">
                                                <div class="single_service_icon">
                                                    <i class="fa fa-mobile"></i>
                                                </div>
                                                <div class="single_service_content">
                                                    <h3>App development </h3>
                                                    <p>Like our websites we do have apps for phones , all the android and ios developers are invited for our venture.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </section>




            


            <section id="doservice" class="doservice">
                <div class="container">
                    <div class="row">
                        <div class="main_doservice sections">
                            <div class="head_title text-center">
                                <h4 class="subtitle">Talents</h4>
                                <h2>what we have </h2>
                                <div class="separator"></div>
                                <p>We can code , we can create , we can develop . Be it competitive coding or deveoping an app , we are always in the top layer . Our designers are creative more than the word exceptional . The websites we develop are always handy and fully functioning.</p>
                            </div>
                            <div class="col-sm-6">
                                <div class="single_doservice">
                                    <div class="single_doservice_img">
                                        <img src="/images/manc.jpg" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="single_doservice">
                                    <div class="single_doservice_acording">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            <i class="fa fa-laptop"></i> Web Designing  <i class="fa fa-chevron-down"></i>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        Web Designing requires both the Front part and the back part to be good , If the Front is good but the Back is bad then the website won't be functional . If the front does not look good nobody wishes to visit the website . So we have a seperate team for both the works , and we give equal value to both frontend and backend of a website . 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            <i class="fa fa-pencil"></i>Designing <i class="fa fa-chevron-down"></i>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body">
                                                        To spread the word , good publicity is required , Thus our designers are always ready with an imaginative poster to promote our event . Our designers are well skilled to create UI of our websites too , which help the developers pull of a wonderfull webiste . 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            <i class="fa fa-user-secret"></i> Management  <i class="fa fa-chevron-down"></i>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body">
                                                        To pull of a great event , an organised team is required and we have it . Our management team is always present to organise an event and spread the word amongst the students , this helps us conduct a good , organised and knowledgefull event . 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>




            


            <section id="team" class="team">
                <div class="container">
                    <div class="row">
                        <div class="main_team sections">
                            <div class="head_title text-center">
                                <h4 class="subtitle">Who we are</h4>
                                <h2>Meet our team</h2>
                                <div class="separator"></div>
                                <p>Without a good team , an organization can't move forward , and we have great leaders to guide our team towards success.Every year new leaders amongst us are selected to make our chapter reach new heights . </p>
                            </div> 

                            <div class="main_team_content text-center">
                                <div class="col-sm-4">
                                    <div class="single_team">
                                        <div class="single_team_img">
                                            <img src="/images/president.jpg" alt=""  style="width: 608px ; height: 319px;"/>
                                            <div class="single_team_overlay all_overlay">
                                                <a href=""><i class="fa fa-facebook"></i></a>
                                                <a href=""><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                        <div class="single_team_content">
                                            <h5>Dhanush Samdaria</h5>
                                            <p class="robotolight">President</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="single_team">
                                        <div class="single_team_img">
                                            <img src="/images/vp.jpg" alt=""  style="width: 608px ; height: 319px;"/>
                                            <div class="single_team_overlay all_overlay">
                                                <a href=""><i class="fa fa-facebook"></i></a>
                                                <a href=""><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                        <div class="single_team_content">
                                            <h5>Arjun Jayakrishnan</h5>
                                            <p class="robotolight">Vice-President</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="single_team">
                                        <div class="single_team_img">
                                            <img src="/images/tech.jpg" alt="" style="width: 608px ; height: 319px;" />
                                            <div class="single_team_overlay all_overlay">
                                                <a href=""><i class="fa fa-facebook"></i></a>
                                                <a href=""><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                        <div class="single_team_content">
                                            <h5>Mohd Akram</h5>
                                            <p class="robotolight">Tech Head</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="contact" class="footer_widget">
                <div class="container">
                    <div class="row">
                        <div class="main_widget">
                            <div class="col-sm-4 col-xs-12">
                                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                    <div class="footer_logo">
                                        <p>CSI - Computer Society Of India</p>
                                    </div>
                                    <p>We are a multi-disciplinary University Chapter with the sole aim of honing technology and pushing it forward. Designers, Developers, Computer Science Enthusiasts, Entrepreneurs and Thinkers working together to build solutions, services, products that make a difference in people's lives.</p>


                                    <div class="footer_subcribs_area">
                                        <p class="monseratregular"><strong>4.2k</strong> followers</p>
                                        <hr />
                                        <div class="flowus">
                                            <a href="" class="robotolight"> Follow Us : </a>
                                            <a href="https://www.facebook.com/csivitu/"><i class="fa fa-facebook"></i></a>
                                            <a href="https://www.instagram.com/csivitu/"><i class="fa fa-instagram"></i></a>
                                            
                                        </div>

                        
                                    </div>
                                </div>
                            </div>

                            

                                   


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- START SCROLL TO TOP  -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src="/scripts/vendor/jquery-1.11.2.min.js"></script>
        <script src="/scripts/vendor/bootstrap.min.js"></script>
        <script src="/scripts/jquery.mixitup.min.js"></script>
        <script src="/scripts/jquery.easing.1.3.js"></script>
        <script src="/scripts/jquery.masonry.min.js"></script>
        <script src="/scripts/jquery.fancybox.pack.js"></script>
        <script src="/scripts/plugins.js"></script>
        <script src="/scripts/main.js"></script> 
        <script src="/scripts/homejs.js"></script>
        
        

    </body>
</html>
